<div class="footer">
	<div class="footer-content-a">
		<dl>
            <dt><b>权益</b></dt>
            <dd>许可协议：xxx</dd>
            <dd>版权所有：xxx</dd>
            <dd>网站备案：xxx</dd>
            <dd>联系邮箱：1692145479@qq.com</dd>
    	</dl>
	</div>

	<div class="footer-content-b">
		<dl>
            <dt><b>架构</b></dt>
            <dd>项目名称：<a rel="nofollow" href="#" target="_blank">myForum</a></dd>
            <dd>版本分支：v1.0</dd>
            <dd>项目作者：<a href="#">printhzf</a></dd>
        </dl>
	</div>

	<div class="footer-content-c">
		<dl>
            <dt><b>统计</b></dt>
            <dd>文章总数：{$topicsNum}</dd>
            <dd>评论总数：{$repliesNum}</dd>
            <dd>登录用户：xxx</dd>
        </dl>
	</div>
</div>