<div class='index-content'>
	<!-- 工具栏 -->
	<div class="tool-bar">
		<!-- 筛选器 -->
	</div>
	<!-- 指标卡 -->
	<div class="row flex-space-between">
		<div class="card">
			<i class="fa fa-3x fa-user"></i>用户数
		</div>
		<div class="card">
			<i class="fa fa-3x fa-file-text"></i>文章数
		</div>
		<div class="card">
			<i class="fa fa-3x fa-commenting"></i>评论数
		</div>
		<div class="card">
			<i class="fa fa-3x fa-commenting"></i>注册数
		</div>
	</div>
	<div class="flex-start">
		<div class="box login-user-count">
			<div class="box-head">
				<h3>近期登录用户统计</h3>
			</div>
			<!-- 系统配置 -->
			<div class="box-body"></div>
		</div>
		<div class="box">
			<div class="box-head">
				<h3>系统配置</h3>
			</div>
			<div class="box-body"></div>
		</div>
	</div>
</div>